.u-section-1 .u-sheet-1 {
  min-height: 809px;
}

.u-section-1 .u-shape-1 {
  width: 770px;
  height: 723px;
  margin: 86px 86px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 679px;
  min-height: 720px;
  margin: -667px 113px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 32px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  margin: 39px -16px 0 16px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 37px -16px 0 16px;
}

.u-section-1 .u-image-1 {
  width: 556px;
  height: 317px;
  margin: -23px -146px 0 auto;
}

.u-section-1 .u-image-2 {
  height: 228px;
  width: 189px;
  margin: -707px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 348px;
  height: 142px;
  margin: -383px 792px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 324px;
  height: 324px;
  margin: 0 792px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 810px;
    margin-top: 50px;
  }

  .u-section-1 .u-shape-1 {
    width: 634px;
    height: 672px;
    margin-right: 72px;
  }

  .u-section-1 .u-group-1 {
    width: 560px;
    margin-top: -512px;
    margin-right: 1px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 26px;
    padding-left: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.25rem;
    margin-top: 83px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -40px;
  }

  .u-section-1 .u-image-1 {
    height: 318px;
  }

  .u-section-1 .u-image-2 {
    height: 229px;
    width: 239px;
    margin-top: -170px;
    margin-right: -168px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -327px;
    margin-right: 592px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 617px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 486px;
    left: auto;
    right: 44px;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-group-1 {
    width: 406px;
    margin-top: -10165px;
    margin-right: 41px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 17px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 2009px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 1843px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -2053px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 372px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 456px;
    right: 21px;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-group-1 {
    width: 273px;
    margin-top: -8970px;
    margin-right: 21px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1301px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1511px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 192px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 216px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-1 .u-shape-1 {
    width: 314px;
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -8472px;
    margin-right: auto;
    margin-left: 21px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 2299px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 189px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -2509px;
    margin-left: 101px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 139px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-right: 16px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 1000px;
}

.u-section-2 .u-shape-1 {
  height: 50px;
  margin-top: 760px;
  margin-bottom: -50px;
  margin-left: 0;
}

.u-section-2 .u-shape-2 {
  width: 750px;
  height: 1002px;
  margin: -800px calc(((100% - 840px) / 2) + 86px) 0 auto;
}

.u-section-2 .u-group-1 {
  width: 534px;
  min-height: 632px;
  background-image: none;
  margin: -976px auto 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 70px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  margin: 53px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 13px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 53px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 89px auto 65px 0;
}

.u-section-2 .u-group-2 {
  width: 295px;
  min-height: 289px;
  margin: -716px calc(((100% - 820px) / 2) + 87px) 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 80px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 13px 0 0;
}

.u-section-2 .u-video-1 {
  width: 480px;
  height: 320px;
  margin: 50px calc(((100% - 1005px) / 2)) 0 auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-image-1 {
  width: 270px;
  height: 271px;
  margin: 327px auto 15px calc(((100% - 1140px) / 2) + 284px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-top: 1055px;
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    width: 634px;
    height: 1178px;
    margin-top: -1261px;
    margin-right: calc(((100% - 1140px) / 2) + 172px);
  }

  .u-section-2 .u-group-1 {
    width: 440px;
    margin-top: -61px;
    margin-left: calc(((100% - 1140px) / 2) + 116px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-btn-1 {
    font-weight: 400;
  }

  .u-section-2 .u-group-2 {
    width: 315px;
    min-height: 276px;
    margin-top: -584px;
    margin-right: calc(((100% - 1140px) / 2) + 172px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-top: 20px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    font-size: 1.25rem;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-video-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 223px;
    height: 223px;
    margin-top: 308px;
    margin-left: calc(((100% - 1140px) / 2) + 334px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    height: 124px;
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    width: 485px;
    height: 1168px;
    margin-top: -1253px;
    margin-right: calc(((100% - 1140px) / 2) + 255px);
  }

  .u-section-2 .u-group-1 {
    width: 386px;
    min-height: 678px;
    margin-top: -75px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-group-2 {
    width: 269px;
    min-height: 286px;
    margin-top: -537px;
    margin-right: calc(((100% - 1140px) / 2) + 255px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 15px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-2 .u-video-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 284px);
  }

  .u-section-2 .u-image-1 {
    width: 194px;
    height: 187px;
    margin-top: 251px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    height: 216px;
    margin-top: 2529px;
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    width: 455px;
    height: 2616px;
    margin-top: -2774px;
    margin-right: calc(((100% - 1140px) / 2) + 320px);
  }

  .u-section-2 .u-group-1 {
    width: 392px;
    margin-top: -54px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-group-2 {
    width: 442px;
    min-height: 237px;
    margin-top: 205px;
    margin-right: calc(((100% - 1140px) / 2) + 333px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 42px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 13px;
    margin-bottom: 42px;
  }

  .u-section-2 .u-video-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-2 .u-image-1 {
    width: 197px;
    height: 198px;
    margin-top: -443px;
    margin-left: calc(((100% - 1140px) / 2) + 365px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    height: 249px;
    margin-top: 2584px;
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    width: 314px;
    height: 2703px;
    margin-top: -2865px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-group-1 {
    min-height: 838px;
    width: 298px;
    margin-top: -15px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 6px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 18px;
  }

  .u-section-2 .u-group-2 {
    width: 275px;
    min-height: 286px;
    margin-top: 177px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 426px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-2 .u-image-1 {
    width: 188px;
    height: 191px;
    margin-top: -461px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1647px;
}

.u-section-3 .u-group-1 {
  width: 534px;
  min-height: 341px;
  background-image: none;
  margin: 50px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 20px 0 0;
}

.u-section-3 .u-text-1 {
  margin: 0 -10px 0 10px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-btn-3 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 491px;
  height: 534px;
  object-position: 40.43% 50%;
  background-position: 40.43% 50%;
  margin: -179px 649px 0 auto;
}

.u-section-3 .u-group-2 {
  width: 411px;
  min-height: 179px;
  margin: -752px 649px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0;
}

.u-section-3 .u-image-2 {
  width: 434px;
  height: 244px;
  margin: 265px 534px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 172px;
  height: 176px;
  margin: 64px auto 0 0;
}

.u-section-3 .u-image-4 {
  width: 435px;
  height: 245px;
  margin: -230px 534px 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 82px auto -145px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 401px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 30px;
}

.u-section-3 .u-icon-1 {
  height: 58px;
  width: 58px;
  color: rgb(174, 161, 106) !important;
  margin: 39px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 31px 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 30px 30px 1px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 401px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
}

.u-section-3 .u-icon-2 {
  height: 58px;
  width: 58px;
  color: rgb(174, 161, 106) !important;
  margin: 39px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 31px 30px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 30px 30px 1px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 401px;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 0 0 22px;
}

.u-section-3 .u-icon-3 {
  height: 58px;
  width: 58px;
  color: rgb(174, 161, 106) !important;
  margin: 39px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 31px 30px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 30px 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1578px;
  }

  .u-section-3 .u-group-1 {
    width: 440px;
    position: absolute;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 22px;
    padding-right: 16px;
  }

  .u-section-3 .u-image-1 {
    width: 405px;
    height: 613px;
    margin-top: -4211px;
    margin-right: 449px;
  }

  .u-section-3 .u-group-2 {
    width: 344px;
    min-height: 192px;
    margin-top: -441px;
    margin-right: 191px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-image-2 {
    margin-top: -87px;
    margin-right: 506px;
  }

  .u-section-3 .u-image-3 {
    width: 142px;
    height: 145px;
    margin-top: 15px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -166px;
    margin-right: 505px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 25px;
  }

  .u-section-3 .u-icon-1 {
    height: 48px;
    width: 48px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 25px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 25px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 25px;
  }

  .u-section-3 .u-icon-2 {
    height: 48px;
    width: 48px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 25px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 25px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 25px;
  }

  .u-section-3 .u-icon-3 {
    height: 48px;
    width: 48px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 25px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1347px;
  }

  .u-section-3 .u-group-1 {
    width: 356px;
    min-height: 530px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 18px;
  }

  .u-section-3 .u-image-1 {
    width: 310px;
    height: 687px;
    margin-top: -5877px;
    margin-right: 229px;
  }

  .u-section-3 .u-group-2 {
    width: 333px;
    min-height: 196px;
    margin-top: -608px;
    margin-right: 78px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
    margin-right: 286px;
  }

  .u-section-3 .u-image-3 {
    width: 89px;
    height: 97px;
    margin-top: 91px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -194px;
    margin-right: 285px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 69px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-icon-1 {
    height: 57px;
    width: 57px;
    margin-top: 19px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-icon-2 {
    height: 57px;
    width: 57px;
    margin-top: 19px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-icon-3 {
    height: 57px;
    width: 57px;
    margin-top: 19px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1447px;
  }

  .u-section-3 .u-group-1 {
    width: 456px;
    min-height: 502px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-image-1 {
    width: 482px;
    height: 564px;
    margin-top: -5606px;
    margin-right: 49px;
  }

  .u-section-3 .u-group-2 {
    width: 380px;
    margin-top: 292px;
    margin-right: 129px;
    margin-left: 71px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 821px;
    margin-right: 106px;
  }

  .u-section-3 .u-image-3 {
    width: 156px;
    height: 164px;
    margin-top: -1613px;
    margin-left: 25px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 1460px;
    margin-right: 105px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -704px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-icon-1 {
    height: 63px;
    width: 63px;
    margin-top: 12px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-icon-2 {
    height: 63px;
    width: 63px;
    margin-top: 11px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-icon-3 {
    height: 63px;
    width: 63px;
    margin-top: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-3 .u-group-1 {
    min-height: 562px;
    width: 337px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 315px;
    height: 624px;
    margin-top: -6258px;
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-3 .u-group-2 {
    width: 297px;
    min-height: 164px;
    margin-top: 149px;
    margin-right: 0;
    margin-left: 2px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 192px;
    margin-top: 929px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 158px;
    height: 178px;
    margin-top: -1184px;
    margin-right: 2px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 191px;
    margin-top: 1130px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 62px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 62px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-icon-3 {
    height: 70px;
    width: 70px;
    margin-top: 54px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 341px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 60px 113px 0;
}

.u-section-4 .u-accordion-1 {
  width: 800px;
  margin: 35px auto 60px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(to right, #dfd8bc, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0 0;
  padding: 7px 21px;
}

.u-section-4 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-btn-2 {
  background-image: linear-gradient(to right, #dfd8bc, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0 0;
  padding: 7px 21px;
}

.u-section-4 .u-icon-4 {
  font-size: 0.7em;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-btn-3 {
  background-image: linear-gradient(to right, #dfd8bc, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0 0;
  padding: 7px 21px;
}

.u-section-4 .u-icon-6 {
  font-size: 0.7em;
}

.u-section-4 .u-accordion-link-4 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-4 .u-btn-4 {
  background-image: linear-gradient(to right, #dfd8bc, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0 0;
  padding: 7px 21px;
}

.u-section-4 .u-icon-8 {
  font-size: 0.7em;
}

.u-section-4 .u-accordion-link-5 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin-top: 0;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-4 .u-btn-5 {
  background-image: linear-gradient(to right, #dfd8bc, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0 0;
  padding: 7px 21px;
}

.u-section-4 .u-icon-10 {
  font-size: 0.7em;
}

.u-section-4 .u-accordion-link-6 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  margin-top: 0;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-4 .u-btn-6 {
  background-image: linear-gradient(to right, #dfd8bc, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0 0;
  padding: 7px 21px;
}

.u-section-4 .u-icon-12 {
  font-size: 0.7em;
}

.u-section-4 .u-accordion-link-7 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-13 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  margin-top: 0;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-4 .u-btn-7 {
  background-image: linear-gradient(to right, #dfd8bc, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0 0;
  padding: 7px 21px;
}

.u-section-4 .u-icon-14 {
  font-size: 0.7em;
}

.u-section-4 .u-accordion-link-8 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-15 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-4 .u-btn-8 {
  background-image: linear-gradient(to right, #dfd8bc, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0 0;
  padding: 7px 21px;
}

.u-section-4 .u-icon-16 {
  font-size: 0.7em;
}

.u-section-4 .u-accordion-link-9 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-17 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-9 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px;
}

.u-section-4 .u-text-10 {
  margin-top: 0;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-4 .u-btn-9 {
  background-image: linear-gradient(to right, #dfd8bc, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px auto 0 0;
  padding: 7px 21px;
}

.u-section-4 .u-icon-18 {
  font-size: 0.7em;
}

.u-section-4 .u-accordion-link-10 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-19 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-10 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px;
}

.u-section-4 .u-text-11 {
  margin-top: 0;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-4 .u-btn-10 {
  background-image: linear-gradient(to right, #dfd8bc, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  padding: 7px 21px;
}

.u-section-4 .u-icon-20 {
  font-size: 0.7em;
}

.u-section-4 .u-accordion-link-11 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-4 .u-icon-21 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-11 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px;
}

.u-section-4 .u-text-12 {
  margin-top: 0;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-4 .u-btn-11 {
  background-image: linear-gradient(to right, #dfd8bc, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  padding: 7px 21px;
}

.u-section-4 .u-icon-22 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 13px;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-accordion-1 {
    width: 340px;
  }
}